body {
    font-family: Arial, Helvetica, sans-serif;
}

.cap {
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 12px;
}

nav a {
    background-color: slategray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    text-decoration: none;
    
}

nav a:hover {
    opacity: 0.5;
}